<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/style.css">
	<title>Say What?</title>
</head>
<center><header>
		<br>
		<h1><a href="/" id="head_text">Say What?</a></h1>
	<div id="nav">
		| <a href="/authors" id="head_link">Users</a> |
		<a href="/posts" id="head_link">Posts</a> |
		<a href="/tags" id="head_link">Tags</a> |
		<a href="/posts/new" id="head_link">Add a Post</a> |
		<a href="/authors/new" id="head_link">New User? Sign up!</a>|
		<br>
	</div>
</header>
<body>
		<%= yield %>

</body>
</center>
</html>
