<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/style.css">
	<title>Dear Diary</title>
</head>
<center>
<body>
	<br>
		<h1><a href="/">Dear Diary...</a></h1>
	<br>
	<div id="nav">
		<a href="/authors">Authors</a> |
		<a href="/posts">Posts</a> |
		<a href="/tags">Tags</a>
	</div>
	<br><br>
		<%= yield %>

</body>
</center>
</html>