header {
	background-color: white;
	padding-bottom: 30px;
	border-radius: 10px;
	margin: 0px;
}

body {
	background-color: darkseagreen;
	font-family: "courier new";
	color: seashell;
}

img {
	max-height:  200px;
	max-width: 200px;
}

#head_link {
	color: darkseagreen;


}

a:visited#head {
color: darkseagreen;
}

a {
	color: darkgreen;
}

a#head_text{
	text-decoration: none;
	font-size: 50px;
}

div#posts{
	display: inline-block;
	border: 3px solid white;
	height: 400px;
	width: 500px;
}

p.caption{
	display:inline;
}

div.caption{
	width: 380px;
	font-size: 15px;
}

p.author_page{
	font-weight: bold;
	font-size: 16px;
}
