<form action"/posts" method ="post">
	<label for="user_name">User Name:<br>
		<input type="text" name="post[username]"> <br>
	</label>
	<label for="image_url">Image URL: <br>
		<input type="text" name="post[:image_url"> <br>
	</label>
	<label for="caption">Caption:<br>
		<input type="text" name="post[:caption]"> <br>
	</label>
	<br>
	<input type="submit" value="Submit">
</form>