<% @authors.each do |author| %>
<div>
	<h2> <%= author.user_name %> </h2>
	<a href="/authors/<%= author.id %>">
	<img src="<%= author.image_url %>"></a>
	<br>
	<div class="caption">
	<p class="caption"> <%= author.bio %> </p>
</div>
	<br>
<hr style="width:60%" />
</div>
<% end %>


